<div id="section-replies">
    <div class="container">
        <div class="content">
            <div class="bg-before" data-bgimage="section.replies.bg.before"></div>
            <div class="bg-after" data-bgimage="section.replies.bg.before"></div>
            <h2>Отзывы клиентов</h2>
            <div class="description">Отзывы людей, которые воспользовались нашей системой<br />и обрели популярность в Instagram</div>
            <div class="replies">
                <div class="reply">
                    <img src="" alt="Юлия Клочкова" />
                    <a data-type="vk" href="https://vk.com" target="_blank"></a>
                    <a data-type="fb" href="https://fb.com" target="_blank"></a>
                    <div class="reply-content">
                        <h5>Юлия Клочкова</h5>
                        <div class="about">Администратор ресторана "Mado"</div>
                        <div class="body">Instak помог мне увеличить число моих подписчиков и привлечь активную целевую аудиторию в мой Instagram аккаунт! Продвигаю свою личную страницу в сервисе уже более 9 месяцев и на 100% доволен результатом!</div>
                    </div>
                    <div class="next" data-bgimage="section.replies.arrow.right"></div>
                </div>
            </div>
        </div>
    </div>
</div>