<footer id="section-footer">
    <div class="container">
        <div class="info grid-row grid-all-6 grid-all-m-3">
            <ul class="about ul-off grid-12 grid-m-3">
                <li>ООО «INSTAK» © 2016 год</li>
                <li>Автоматизированный сервис для продвижения в Instagram.</li>
                <li>
                    <i class="icon-mail"></i>
                    <a href="mailto:support@instalex.ru">support@instalex.ru</a>
                </li>
            </ul>
            <aside>
                <a href="#offices">Оффисы</a>
                <a href="#about">О компании</a>
                <a href="#docs">Документы</a>
                <a href="#qa">Вопросы и ответы</a>
            </aside>
            <aside>
                <a href="#partners">Партнерская программа</a>
                <a href="#politics">Политика конфиденциальности</a>
                <a href="#articles">Публикации в СМИ</a>
            </aside>
        </div>
        <div class="shares">
            <aside class="other">
                <div class="money">
                    <span data-bgimage="section.footer.tls"></span>
                    <span data-bgimage="section.footer.visa"></span>
                    <span data-bgimage="section.footer.mastercard"></span>
                </div>
                <button class="bordered" data-id="top">
                    <i data-bgimage="lang.ru"></i>
                    <span>Русский</span>
                </button>
            </aside>
            <aside class="socials">
                <h6>Мы в социальных сетях</h6>
                <div>
                    <a href="https://vk.com" target="_blank" data-bgimage="section.footer.vk"></a>
                    <a href="https://twitter.com" target="_blank" data-bgimage="section.footer.tw"></a>
                    <a href="https://fb.com" target="_blank" data-bgimage="section.footer.fb"></a>
                    <a href="https://youtube.com" target="_blank" data-bgimage="section.footer.yt"></a>
                </div>
            </aside>
        </div>
    </div>
</footer>