<div id="section-our">
    <div class="container">
        <h2>Наши преимущества</h2>
        <div class="content grid-row grid-all-12 grid-all-s-6 grid-all-m-4">
            <div class="our-item" data-id="ease">
                <img src="" alt="ease" />
                <h4>Легко использовать</h4>
                <div class="our-content">Регистрация и настройка займёт 2 минуты. Вложены информационные материалы, которые помогут настроить процесс продвижения вашего аккаунта.</div>
            </div>
            <div class="our-item" data-id="live">
                <img src="" alt="live" />
                <h4>Живая аудитория</h4>
                <div class="our-content">Никаких ботов, никаких офферов. Технология, которая позволит привлечь только 100% заинтересованную/живую аудиторию.</div>
            </div>
            <div class="our-item" data-id="mobile">
                <img src="" alt="mobile" />
                <h4>В Вашем мобильном</h4>
                <div class="our-content">Наш сервис можно использовать на мобильном телефоне, планшете и других персональных устройствах, в которых можно открывать сайты.</div>
            </div>
            <div class="our-item" data-id="speed">
                <img src="" alt="speed" />
                <h4>Фантастическая скорость</h4>
                <div class="our-content">С помощью нашего сервиса вы сможете ежедневно приводить на свою страничку в Instagram до 1000 человек из любой точки мира.</div>
            </div>
            <div class="our-item" data-id="support">
                <img src="" alt="support" />
                <h4>Круглосуточная поддержка</h4>
                <div class="our-content">Мы гарантируем, что ответим на все ваши вопросы, решим любую проблему, возникшую при работе с сервисом, в случае простоя - компенсируем дни использования.</div>
            </div>
            <div class="our-item" data-id="secure">
                <img src="" alt="secure" />
                <h4>Заботимся о безопасности</h4>
                <div class="our-content">Сервис работает с учетом всех известных лимитов и правил Instagram. Полная конфиденциальность ваших данных.</div>
            </div>
            <button class="expand bordered">Показать все</button>
        </div>
    </div>
</div>