<div id="section-prices" data-bgimage="section.prices.background">
    <div class="container">
        <h2>Гибкие тарифные планы</h2>
        <div class="description">Выберите продукты и пакеты, которые вам лучше всего подходят.<br />
            У нас гибкая система цен, поэтому вы можете получить за свои деньги именно то, что хотите.</div>
        <div class="months">
            <button data-value="1" class="active">
                <span class="text">1 месяц</span>
            </button>
            <button data-value="3">
                <span class="text">3 месяца</span>
                <span class="discount">10</span>
            </button>
            <button data-value="6">
                <span class="text">6 месяцев</span>
                <span class="discount">20</span>
            </button>
        </div>
        <div class="prices">
            <div class="price-item">
                <div class="info">
                    <h5>Start</h5>
                    <div class="price">12.90</div>
                    <div class="time">1 месяц</div>
                </div>
                <ul class="details ul-off">
                    <li>Добавление 1 аккаунта</li>
                    <li>Доступ ко всем функциям</li>
                </ul>
                <button>Начать</button>
            </div>
            <div class="price-item">
                <div class="info">
                    <h5>Standart</h5>
                    <div class="price">19.90</div>
                    <div class="time">1 месяц</div>
                </div>
                <ul class="details ul-off">
                    <li>Добавление до 3 аккаунтов</li>
                    <li>Доступ ко всем функциям</li>
                </ul>
                <button>Начать</button>
            </div>
            <div class="price-item">
                <div class="info">
                    <h5>Premium</h5>
                    <div class="price">34.90</div>
                    <div class="time">1 месяц</div>
                </div>
                <ul class="details ul-off">
                    <li>Добавление до 7 аккаунтов</li>
                    <li>Доступ ко всем функциям</li>
                </ul>
                <button>Начать</button>
            </div>
        </div>
    </div>
</div>