<h2>С нами работают</h2>
<div class="description">С нами работает огромное количество учреждений и заведений.</div>
<div class="partners">
    <div class="prev" data-bgimage="section.replies.arrow.left"></div>
    <div class="slider">
        <a href="https://instak.me" target="_blank" data-logo="instak"></a>
        <a href="https://instak.me" target="_blank" data-logo="instak"></a>
        <a href="https://instak.me" target="_blank" data-logo="instak"></a>
        <a href="https://instak.me" target="_blank" data-logo="instak"></a>
    </div>
    <div class="next" data-bgimage="section.replies.arrow.right"></div>
</div>