<div id="section-top">
    <div class="container">
        <div class="top-content grid-row grid-all-12 grid-all-m-6">
            <div class="content">
                <h1>Хочешь быть популярным в Instagram?</h1>
                <div class="description">Автоматизированный сервис для продвижения в Instagram. Пока вы занимаетесь своими делами, сервис лайкает, подписывается, комментирует, отписывается вместо вас и тем самым, вы становитесь известнее.</div>
                <button class="try" data-window="create">Попробовать бесплатно</button>
            </div>
            <div class="video-content">
                <div class="macbook">
                    <img alt="macbook" />
                    <div class="play"></div>
                    <div class="watch">Смотри видео!</div>
                </div>
            </div>
        </div>
        <div id="section-who" class="who-content">
            <h2>Для кого?</h2>
            <div class="grid-row grid-all-12 grid-all-s-4 grid-all-l-3">
                <ul>
                    <li>СМИ</li>
                    <li>Рестораны</li>
                    <li>Фитнес-клубы</li>
                    <li>Ночные клубы</li>
                </ul>
                <ul>
                    <li>Салоны красоты / стилисты</li>
                    <li>Туристические агенства</li>
                    <li>Фотографы / фотомодели</li>
                    <li>Начинающие блоггеры</li>
                </ul>
                <ul>
                    <li>Автосалоны</li>
                    <li>Магазины одежды</li>
                    <li>Кинотеатры</li>
                    <li>SMM</li>
                </ul>
            </div>
        </div>
    </div>
</div>