<nav id="header">

    <div class="logo">
        <img class="logo-icon" alt="Instak logo" />
        <div class="logo-title">INSTAK</div>
    </div>

    <nav class="navigation container">
        <a href="#section-top">Популярность</a>
        <a href="#section-who">Для кого</a>
        <a href="#section-our">Наши преимущества</a>
        <a href="#section-replies">Отзывы</a>
        <a href="#section-prices">Цены</a>
    </nav>
    
    <div class="buttons">
        <button class="lang bordered">
            <img class="lang-image" alt="Current language flag" />
        </button>
        <button class="login" data-window="login"></button>
        <button class="create" data-window="create"></button>
    </div>

</nav>